// Externals

// Setup
@import "setup/variables";
// @import "setup/functions";
@import "setup/mixins";

// Basics
// @import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
// @import "basics/modals";
// @import "basics/animations";

// Pages

// Components
// @import "cmps/robot-list";
// @import "cmps/robot-preview";
@import "cmps/app-header";
@import "cmps/hader";
@import "cmps/contact-preview";
@import "cmps/contact-list";
@import "cmps/contact-filter";
@import "cmps/contact";
@import "cmps/home-page";
@import "cmps/_contact-deatils";
@import "cmps/_contact-edit";
@import "cmps/_user-moves";
@import "cmps/_signup";
@import "cmps/transfer-fund";



.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }

  > footer {
    background-color: #111;
    color: white;
  }
}

.main-conteiner {
  margin: 10px 40px 10px 40px;
  // margin: 0 auto;
}


 .MarketPrice{
  max-width: 90%;
  margin: 0 auto;
  
}

.confirmed-transitons{
  max-width: 90%;
  margin: 0 auto;
}